.btnwhatWeDo {
    background-color: #ffffff10;
    color: #ffffff;
}

.btnwhatWeDo:hover {
    cursor: default;
}

.sectionWhatWeDo { 
    margin-top: 5rem;
}

@media (max-width: 600px) {
    
    .btnwhatWeDo {
        max-width: 133px;
        font-size: 0.8rem;
        margin-top: 1rem;
        margin: 3rem auto;
    }

    .sectionWhatWeDo { 
        margin: auto;
        max-width: 300px;
        text-align: center;
        display: grid;
        justify-content: center;
    }
}
