.card {
    background: linear-gradient(270.5deg, rgba(0, 25, 255, 0.25) -22.46%, rgba(13, 13, 13, 0.25) 122.58%);
    max-width: 456px;
    height: 294px;
    border-radius: 22px;
}

.card:hover {
    background: linear-gradient(270.5deg, rgba(13, 13, 13, 0.25) -22.46%, rgba(0, 25, 255, 0.25) 122.58%);
}

.btnSeta {
    max-width: 32px;
    height: 1rem;        
    font-size: 12px;
    line-height: 1rem;    
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;    
    padding: 0;            
}

.btnSeta:hover {
    background-color: #ffffff;
    color: #000000;
}

.imgCard{
    margin: 28px 28px 0px;
}

.boxFotter{
    max-width: 400px;
    margin: 0px 28px ;
    font-weight: 100;
}